<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/dispatcher-servlet.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Servlets -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>gmZadost</servlet-name>
		<servlet-class>sp1.applications.server.wrappers.GMZadostControllerWrapperImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>gmZadost</servlet-name>
		<url-pattern>/zadosti/wrappers/gmZadost</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>security</servlet-name>
		<servlet-class>sp1.applications.server.wrappers.SecurityControllerWrapperImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>security</servlet-name>
		<url-pattern>/zadosti/wrappers/security</url-pattern>
	</servlet-mapping>
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>zadosti.html</welcome-file>
	</welcome-file-list>

</web-app>
